<p>header works!</p>

<nav>
    <div class="header">
      <img
        src="../../../assets/arg-prg-logo.png"
        class="img-arg-prg"
        alt=""
        srcset=""
      />

      <ul class="ul">
        <li class="li">
          <a href="#" class="a">
            <div class="div-img">
              <img src="../../../assets/github-mark.png" class="img-logo-icon" />
            </div>
            <span class="link-text"> Github </span>
          </a>
        </li>
        <li class="li">
          <a href="#" class="a">
            <div class="div-img">
              <img
                src="../../../assets/LI-In-Bug.png"
                alt=""
                class="img-logo-icon"
                srcset=""
              />
            </div>
            <span class="link-text">LinkedIn</span>
          </a>
        </li>
        <li class="li">
          <a href="#" class="a">
            <div class="div-img">
              <span class="material-symbols-outlined img-logo-icon">
                account_circle
              </span>
            </div>
            <span class="link-text"> Log-in</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>