<section class="card section-education margin-top relative e-card">
  <div id="education">
    <div class="head-title">
      <div class="c-container">
        <div class="card-head-container">
          <div class="h2-title-container">
            <h2>Licencias y certificaciones</h2>
          </div>
        </div>
        <div class="item-edit">
          <div class="btn-edit">
            <a href="" class="btn-right"
              ><i
                ><span class="material-symbols-outlined"> edit </span></i
              ></a
            >
          </div>
        </div>
      </div>
    </div>
    <ul class="ul">
      <li *ngFor="let certification of certificationsList"  class="li">
        <div class="education-div">
          <div class="image-education-container">
            <div class="image-ed-div">
              <img [src]="certification.img" alt="" srcset="" />
            </div>
          </div>
          <div class="info-education-container">
            <div class="title-education-container">
              <span class="sep">
                <span>
                  {{certification.name}}
                </span>
              </span>
            </div>
            <div class="company-experience-container">{{certification.certifier}}</div>
            <div class="date-experience span-subtitle">{{certification.date}}</div>

            <div class="padding-vertical">
              <a
                [href]="certification.url"
                >Ver Certificado</a
              >
            </div>
          </div>
        </div>
      </li>

      
    </ul>
  </div>
</section>
