<section class="card section-education margin-top relative e-card">
    <div id="education">
      <div class="head-title">
        <div class="c-container">
          <div class="card-head-container">
            <div class="h2-title-container">
              <h2>Educación</h2>
            </div>
          </div>
          <div class="item-edit">
            <div class="btn-edit">
              <a href="" class="btn-right"
                ><i
                  ><span class="material-symbols-outlined"> edit </span></i
                ></a
              >
            </div>
          </div>
        </div>
      </div>
      <ul class="ul">
        <li class="li">
          <div class="education-div">
            <div class="image-education-container">
              <div class="image-ed-div">
                <img src="/assets/UNMDP-logo.png" alt="" srcset="" />
              </div>
            </div>
            <div class="info-education-container">
              <div class="title-education-container">
                <span class="sep">
                  <span class="e-title"> Universidad Nacional de Mar del Plata </span>
                </span>
              </div>
              <div class="company-experience-container">
                Ingenieria en Informática
              </div>
              <div class="date-experience span-subtitle">
                mar. 2021 - Actualidad
              </div>
            </div>
          </div>
        </li>

        <li class="li">
          <div class="education-div">
            <div class="image-education-container">
              <div class="image-ed-div">
                <img
                  src="/assets/company-ghost.svg"
                  alt=""
                  class=""
                  srcset=""
                />
              </div>
            </div>
            <div class="info-education-container">
              <div class="title-education-container">
                <span class="sep">
                  <span class="e-title"> Escuela Normal N°1 Balcarce </span>
                </span>
              </div>
              <div class="company-experience-container">
                Colegio secundario
              </div>
              <div class="date-experience span-subtitle">
                mar. 2020 - dic 2020
              </div>
            </div>
          </div>
        </li>

        <li class="li">
          <div class="education-div">
            <div class="image-education-container">
              <div class="image-ed-div">
                <img src="/assets/enape.png" alt="" srcset="" />
              </div>
            </div>
            <div class="info-education-container">
              <div class="title-education-container">
                <span class="sep">
                  <span class="e-title"> Escuela Nacional Adolfo Perez Esquivel </span>
                </span>
              </div>
              <div class="company-experience-container">
                Colegio secundario
              </div>
              <div class="date-experience span-subtitle">
                mar. 2015 - dic 2019
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>