<section class="card section-experience margin-top relative e-card">
    <div id="experience">
      <div class="head-title">
        <div class="c-container">
          <div class="card-head-container">
            <div class="h2-title-container">
              <h2>Habilidades</h2>
            </div>
          </div>
          <div class="item-edit">
            <div class="btn-edit">
              <a href="" class="btn-right"
                ><i
                  ><span class="material-symbols-outlined"> edit </span></i
                ></a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="skills-div ">
        <div class="hard-skills">
          <div class="skills-item ">
            <div class="skills-tech">
              <span class="sep"><span>HTML</span></span>
            </div>
            <div class="skills-bar skills-bar-100"></div>
          </div>

          <div class="skills-item">
              <div class="skills-tech">
                <span class="sep"><span>CSS</span></span>
              </div>
              <div class="skills-bar skills-bar-80"></div>
            </div>

            <div class="skills-item">
              <div class="skills-tech">
                <span class="sep"><span>JAVASCRIPT</span></span>
              </div>
              <div class="skills-bar skills-bar-70"></div>
            </div>

            <div class="skills-item">
              <div class="skills-tech">
                <span class="sep"><span>ANGULAR</span></span>
              </div>
              <div class="skills-bar skills-bar-80"></div>
            </div>

            <div class="skills-item">
              <div class="skills-tech">
                <span class="sep"><span>SQL</span></span>
              </div>
              <div class="skills-bar skills-bar-90"></div>
            </div>
        </div>
      </div>
    </div>
  </section>