<section class="card section-experience margin-top relative e-card">
    <div id="experience">
      <div class="head-title">
        <div class="c-container">
          <div class="card-head-container">
            <div class="h2-title-container">
              <h2>Experiencia</h2>
            </div>
          </div>
          <div class="item-edit">
            <div class="btn-edit">
              <a href="" class="btn-right"
                ><i
                  ><span class="material-symbols-outlined"> edit </span></i
                ></a
              >
            </div>
          </div>
        </div>
      </div>
      <ul class="ul">
        <li class="li">
          <div class="experience-div">
            <div class="image-experience-container">
              <div class="image-ed-div ">
                <img src="/assets/company-ghost.svg" alt="" srcset="" />
              </div>
            </div>
            <div class="info-experience-container">
              <div class="title-experience-container">
                <span class="sep">
                  <span  class="e-title"> Fullstack Developer </span>
                </span>
              </div>
              <div class="company-experience-container">
                profesional independiente
              </div>
              <div class="date-experience span-subtitle">
                ago. 2022 - Actualidad
              </div>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </section>